body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 20px;
  color: #555;
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  display: block;
  height: 500px;
  width: 500px;
  margin-bottom: 10px;
}

label {
  display: block;
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 90%;
  margin: 0 auto 15px auto; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  display: block;
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #db25bd;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #d861b4;
}
